@font-face {
	font-family: "Fragmentcore";
	src: url("medias/Fragmentcore.otf");
}



/* CORPS DE PAGE */
body {
	height: 100vh;
	width: 100vw;
	margin: 0;
	/* Empêcher la sélection des éléments */
    -webkit-user-select: none;
    -html-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

footer {
	text-align: center;
	padding-top: 2%;
	font-family: "Fragmentcore";
	font-weight: bold;
	font-size: 18px;
	letter-spacing: 1px;
}


#page {
	height: 90%;
	width: 100%;
}

#jeu {
	height: 100%;
	width: 50%;
	float: left;
	position: relative;
}

#panneau {
	float: left;
	position: relative;
	height: 100%;
	width: 20%;
}

#inventaire {
	display: block;
	height: 60%;
	width: 100%;
	background-image: url("medias/background_inventaire.png");
	background-size: 100% 100%;
}

#menu {
	background-image: url("medias/background_inventaire.png");
	background-size: 100% 100%;
	position: absolute;
	float: left;
	width: 100%;
	height: 40%;
}

#info {
	height: 100%;
	width: 30%;
	float: left;
	position: relative;
	background-image: url("medias/background_inventaire.png");
	background-size: 100% 100%;
}




/* IMAGES JEU */

/* ENVIRONNEMENT */
#mur {
	position: absolute;
	top: 0;
	height: 75%;
	width: 100%;
}

#sol_sale, #sol_propre {
	position: absolute;
	top: 75%;
	height: 25%;
	width: 100%;
}

#wc {
	position: absolute;
	left: 37.5%;
	top: 40%;
	height: 50%;
	width: 26%;
}

#chasse_deau {
	position: absolute;
	height: 59.5%;
	width: 27.2%;
	left: 36.4%;
}

#corde_chasse_deau {
	position: absolute;
	height: 14%;
	width: 1.6%;
	left: 58.1%;
	top: 7%;
}

#tag1 {
	position: absolute;
	width: 46.2%;
	height: 44.5%;
	left: 0%;
	top: 20%;
}

#tag2 {
	position: absolute;
	width: 26.1%;
	height: 13.5%;
	left: 68%;
	top: 55%;
}

#tag3 {
	position: absolute;
	width: 30.4%;
	height: 17%;
	left: 64%;
	top: 7.5%;
}

#balais {
	position: absolute;
	height: 50%;
	width: 60%;
	left: 18%;
	top: 44%;
}


/* CALCAIRE */
#calcaire_couvercle, #calcaire_couvercle_vinaigre {
	position: absolute;
	width: 18.5%;
	height: 19.5%;
	left: 41.3%;
	top: 41%;
}

#calcaire_pied, #calcaire_pied_vinaigre {
	position: absolute;
	width: 22.3%;
	height: 19.5%;
	left: 39.7%;
	top: 70.5%;
}

#calcaire_cuvette, #calcaire_cuvette_bicarbonate, #calcaire_cuvette_vinaigre, #calcaire_cuvette_traite {
	position: absolute;
	width: 25.5%;
	height: 9.5%;
	left: 38%;
	top: 61.5%;
}


/* MOUSSES */
#mousse_chasse_deau, #mousse_chasse_deau_traitee {
	position: absolute;
	width: 27.2%;
	height: 4%;
	left: 36.4%;
	top: 0%;
}

#mousse_cuvette_ext, #mousse_cuvette_ext_traitee {
	position: absolute;
	width: 25.5%;
	height: 5.5%;
	left: 37.5%;
	top: 69%;
}

#mousse_cuvette_int, #mousse_cuvette_int_traitee {
	position: absolute;
	width: 16.3%;
	height: 4%;
	left: 42.4%;
	top: 63.5%;
}


/* CACAS */
#caca_cuvette_1 {
	position: absolute;
	width: 11.4%;
	height: 4%;
	left: 48.9%;
	top: 61%;
}

#caca_cuvette_2 {
	position: absolute;
	width: 4.9%;
	height: 3.5%;
	left: 37.5%;
	top: 64%;
}

#caca_cuvette_3 {
	position: absolute;
	width: 6%;
	height: 3%;
	left: 49%;
	top: 67.5%;
}

#caca_pied {
	position: absolute;
	width: 14.6%;
	height: 3%;
	left: 43%;
	top: 87%;
}


/* PIPIS */
#pisse_cuvette {
	position: absolute;
	width: 22.3%;
	height: 9%;
	left: 39.1%;
	top: 61.5%;
}

#pisse_couvercle {
	position: absolute;
	width: 14.6%;
	height: 15%;
	left: 43.5%;
	top: 44%;
}

#pisse_sol {
	position: absolute;
	width: 47.3%;
	height: 10.5%;
	left: 26.1%;
	top: 85%;
}




/* ITEMS */
#ustensiles {
	margin-left: 10%;
	padding-top: 3%;
	display: flex;
	height: 16%;
	width: 80%;
}
#ustensiles::after {
	content: "";
	clear: both;
	display: table;
}
#ustensiles > .column {
	flex: 25%;
	padding: 5px;
}
#ustensiles > .column > img {
	width: 100%;
	cursor: pointer;
}
.brosseWC {
	height: 90%;
}
.sponge, .brosse, .pelle {
	position: relative;
	height: 40%;
	top: 50%;
}


#produits {
	margin-left: 10%;
	padding-top: 3%;
	display: flex;
	height: 18%;
	width: 80%;
}
#produits::after {
	content: "";
	clear: both;
	display: table;
}
#produits > .column {
	flex: 25%;
	padding: 5px;
}
.javel {
	position: relative;
	top: 5%;
	width: 95%;
	height: 80%;
	cursor: pointer;
}
.pchit {
	position: relative;
	padding-left: 10%;
	top: 0%;
	width: 70%;
	height: 85%;
	cursor: pointer;
}
.vinaigre {
	position: relative;
	padding-left: 20%;
	top: 5%;
	width: 40%;
	height: 80%;
	cursor: pointer;
}
.bicarbonate {
	position: relative;
	top: 25%;
	width: 70%;
	height: 60%;
	cursor: pointer;
}


#contenants {
	margin-left: 10%;
	padding-top: 3%;
	display: flex;
	height: 32%;
	width: 80%;
}
#contenants::after {
	content: "";
	clear: both;
	display: table;
}
#contenants > .column {
	flex: 50%;
	padding: 5px;
}
#contenants > .column > img {
	width: 80%;
	padding: 0% 10%;
}
#poubelle {
	position: relative;
	top: 42%;
	height: 60%;
}
.seau {
	height: 100%;
	cursor: pointer;
}



/* INFORMATIONS / NOTICE */
#info-content {
	height: 96%;
	width: 90%;
	margin: 2% 5%;
}

#meowzart {
	display: block;
	height: 60%;
	width: 80%;
	margin: 2% 10%;
  	-webkit-transform: scaleX(-1);
  	transform: scaleX(-1);
}

#titre-monologue {
	font-family: "Fragmentcore";
	letter-spacing: 1px;
	color: white;
	display: block;
	margin: 2% 0%;
	text-align: center;
	font-size: 1.6em;
}

#monologue {
	font-family: "Fragmentcore";
	letter-spacing: 1px;
	color: white;
	display: block;
	height: 25%;
	margin: 0;
	text-align: center;
	font-size: 1.3em;
}

#nav-monologue {
	display: inline-flex;
	margin: 0% 5%;
	width: 90%;
	height: 6%;
}

#nav-monologue > button {
	flex: 42%;
	height: 100%;
	margin: 0% 4%;

	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: "Fragmentcore";
	letter-spacing: 2px;

	cursor: pointer;

	transition-property: font-size, letter-spacing;
	transition-duration: 1s;
}
#nav-monologue > button:hover {
	background-color: #46A149;
	font-size: 28px;
	letter-spacing: 4px;
}


/* MENU */
#menu > audio {
	margin: 5% 5% 0% 5%;
	width: 90%;
	height: 10%;
}

#menu > p {
	font-family: "Fragmentcore";
	padding: 0% 5%;
	letter-spacing: 1px;
	font-size: 1.2em;
	margin: 0;
	color: white;
	text-align: center;
	display: block;
}

#menu-content {
	width: 100%;
	height: 90%;
}

#scoreboard {
	font-family: "Fragmentcore";
	letter-spacing: 1px;
	font-size: 1.4em;
	color: white;
	text-align: center;
	display: block;
	margin: 0;
}

#restart {
	height: 16%;
	width: 60%;
	margin: 5% 20%;

	background-color: #4CAF50;
	border: none;
	color: white;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
	font-family: "Fragmentcore";
	letter-spacing: 2px;

	cursor: pointer;

	transition-property: letter-spacing, font-size;
	transition-duration: 1s;
}

#restart:hover {
	background-color: #46A149;
	letter-spacing: 4px;
	font-size: 28px;
}


@media only screen 
	and (max-height: 1000px){
		footer { font-size: 16px; }
		#titre-monologue { font-size: 1.4em; }
		#monologue {font-size: 1.1em;}
		#nav-monologue > button { font-size: 16px; }
		#nav-monologue > button:hover { font-size: 24px; }
		#restart { font-size: 16px; }
		#restart:hover { font-size: 24px; }
		#menu > p { font-size: 1em; }
		#scoreboard { font-size: 1.2em; }
	}

@media only screen 
	and (max-height: 900px){
		footer { font-size: 16px; }
		#titre-monologue { font-size: 1.3em; }
		#monologue {font-size: 1.1em;}
		#nav-monologue > button { font-size: 14px; }
		#nav-monologue > button:hover { font-size: 20px; }
		#restart { font-size: 14px; }
		#restart:hover { font-size: 20px; }
	}

@media only screen
	and (max-height: 800px) {
		footer { font-size: 16px; }
		#titre-monologue { font-size: 1em; }
		#monologue {font-size: 0.8em;}
		#nav-monologue > button { font-size: 14px; }
		#nav-monologue > button:hover { font-size: 20px; }
		#restart { font-size: 14px; }
		#restart:hover { font-size: 20px; }
		#menu > p { font-size: 14px; }
		#scoreboard { font-size: 14px; }
	}

@media only screen
	and (max-height: 700px) {
		footer { font-size: 14px; }
		#titre-monologue { font-size: 0.94em; }
		#monologue {font-size: 0.82em;}
		#nav-monologue > button { font-size: 12px; }
		#nav-monologue > button:hover { font-size: 16px; }
		#restart { font-size: 12px; }
		#restart:hover { font-size: 16px; }
		#menu > p { font-size: 13px; }
		#scoreboard { font-size: 13px; }
	}

@media only screen
	and (max-height: 600px) {
		footer { font-size: 12px; }
		#titre-monologue { font-size: 0.72em; }
		#monologue {font-size: 0.58em;}
		#nav-monologue > button { font-size: 9px; }
		#nav-monologue > button:hover { font-size: 12px; }
		#restart { font-size: 9px; }
		#restart:hover { font-size: 12px; }
		#menu > p { font-size: 10px; }
		#scoreboard { font-size: 12px; }
	}

@media only screen
	and (max-height: 500px) {
		footer { font-size: 8px; }
		#titre-monologue { font-size: 0.56em; }
		#monologue {font-size: 0.5em;}
		#nav-monologue > button { font-size: 7px; }
		#nav-monologue > button:hover { font-size: 10px; letter-spacing: 3px; }
		#restart { font-size: 7px; }
		#restart:hover { font-size: 10px; letter-spacing: 3px; }
		#menu > p { font-size: 8px; }
		#scoreboard { font-size: 10px; }
	}

@media only screen
	and (max-height: 400px) {
		footer { font-size: 4px; }
		#titre-monologue { font-size: 0.36em; }
		#monologue {font-size: 0.3em;}
		#nav-monologue > button { font-size: 6px; letter-spacing: 1px; }
		#nav-monologue > button:hover { font-size: 8px; letter-spacing: 2px; }
		#restart { font-size: 6px; letter-spacing: 1px; }
		#restart:hover { font-size: 8px; letter-spacing: 2px; }
		#menu > p { font-size: 6px; }
		#scoreboard { font-size: 8px; }
	}